@namespace LinUI.Components
<div class="T-Popup" style="transition-delay:@(Show?"0ms":"100ms");z-index: @(Show?"11":"-1");opacity: @(Show?1:0);" @onclick="() => { if (MaskClose){Close();}}">
    <div class="t-popup-content" @onclick:stopPropagation @onclick="()=>{}" style="transform: translateY(@(Show?"0":"100%"));transition-delay: @(Show?"100ms":"0ms");">
        @if (Header != null)
        {
            @Header
        }
        else
        {
            <div class="t-popup-head">
                <div class="t-popup-title">@Title</div>
                <div class="t-popup-close"><Icon Name="close"></Icon></div>
            </div>
        }
        <div class="t-popup-body">@ChildContent</div>
        @Footer
    </div>
</div>

@code {
    // 显示Popup
    [Parameter]
    public bool Show { get; set; } = false;

    [Parameter]
    public EventCallback<bool> ShowChanged { get; set; }

    // 点击蒙版关闭popup
    [Parameter]
    public bool MaskClose { get; set; } = true;
    // 标题
    [Parameter]
    public string? Title { get; set; }
    // 自定义头部
    [Parameter]
    public RenderFragment? Header { get; set; }
    // 自定义脚
    [Parameter]
    public RenderFragment? Footer { get; set; }
    // 内容
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    // 当显示状态被更改
    [Parameter]
    public EventCallback<bool> OnChange { set; get; }
    void Close()
    {
        bool val = !Show;
        ShowChanged.InvokeAsync(val);
        OnChange.InvokeAsync(val);
    }
}