@using LinUI.Data
@using LinUI.Tools
@namespace LinUI.Components
@if (!Ghost)
{
  <span class="T-Tag @("t-tag-size-"+Size.GetDescriptionToString()) @("t-tag-shape-"+Shape.GetDescriptionToString())" style="background-color: @Color[0];color: @Color[1];border: 1px solid @Color[0];@Style">
      @ChildContent
  </span>  
}
else
{
    <span class="T-Tag @("t-tag-size-"+Size.GetDescriptionToString()) @("t-tag-shape-"+Shape.GetDescriptionToString())" style="background-color: transparent;color: @Color[0];border: 1px solid @Color[0];@Style">
        @ChildContent
    </span>   
}

@code {
    // 颜色模式
    [Parameter]
    public string[] Color { get; set; } = ColorType.Gray;
    // 幽灵模式
    [Parameter]
    public bool Ghost { get; set; } = false;
    // 子元素
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    // 自定义样式
    [Parameter]
    public string? Style { get; set; }
    // 大小
    [Parameter]
    public LinSize Size { set; get; } = LinSize.Default;
    // 圆角样式
    [Parameter]
    public LinShape Shape { set; get; } = LinShape.Default;

}