@using LinUI.Data
@using LinUI.Tools
@namespace LinUI.Components
<div class="T-Progress @("t-progress-size-"+Size.GetDescriptionToString()) @("t-progress-shape-"+Shape.GetDescriptionToString())"
    style="background-color: @ColorType.Gray[0];"
     >
    <div class="t-progress-line"
        style="color: @Color[1];width: @Rate%;background-color: @Color[0];"
         >
        @if (ShowRate && Size != LinSize.Small)
        {
            <span>@Rate %</span>
        }
    </div>
</div>

@code {
    // 是否显示百分比
    [Parameter]
    public bool ShowRate { set; get; } = false;
    // 百分比
    [Parameter]
    public int Rate { get; set; } = 0;
    // 颜色
    [Parameter]
    public string[] Color { get; set; } = ColorType.Green;
    // 尺寸
    [Parameter]
    public LinSize Size { get; set; } = LinSize.Default;
    // 圆角
    [Parameter]
    public LinShape Shape { get; set; } = LinShape.Default;

}